header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #000450;
  color: #fff;
}
header h1{
  margin-left: 2%;
}
nav a{
  color: white;
  text-decoration: none;
  margin:5px;
}
.product {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.cart {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#tt{
  color: green;
}